body{
    color:blue;
    background-color:black;
    font-family:'Arial', sans-serif;

}
/* p{
    font-style:italic;
    font-size:xx-large;
    font-weight:bolder;
} */

img{
    /* height:500px; */
    height:auto;
    width: 100%;
    /* border-radius:500px; */
}
@media(min-width:1024px){
    img{
       height:auto;
       width:100%;
    }
}

video{
    /* height:500px; */
    width:100%;
    
}
ol{
    list-style-type:lower-roman;

}
ul{
    list-style-type:disc;
}
table,th,td{
    border:1px solid white;
    border-collapse:collapse;

}
h1{
    padding:50px;
    border:20px solid green;
    margin:50px;
    padding:10px;
}
button:hover{
    background-color:green;
    border-radius:5px;
    

}
button{
    padding:10px;
    margin:20px;
}
nav{
    display:flex;
    flex-direction:column;
    /* gap:10px; */
}
@media(min-width:1024px){
    nav{
        display:flex;
        flex-direction:row;
        gap: 100px;
    }
}
#p1{
    font-style:normal;
    font-weight:bolder;
    

}
#p2{
    font-style:italic;
   
}
.pclass{
    font-size:x-large;
}

.grid{
    display:grid;
}


@media(min-width:1024px){
    .grid{
        display:grid;
        /* grid-template-columns:33% 33% 33%; */
        grid-template-rows:33% 33% 33%;

    }
}

 /* .pictures{
    display:grid;
    grid-template-rows: 50% 50%;
}  */

#img1{
    grid-row:1/2;
}
#img2{
    grid-row:1/2;
}
#img3{
    grid-row:2/3;
}
#img4{
    grid-row:2/3;
} 

#one{
    grid-row:1/2;
}

#two{
    grid-row:1/2;
}
#three{
    grid-row:1/2;
}
#four{
    grid-row:2/3;
}
#five{
    grid-row:2/3;
}
#six{
    grid-row:2/3;
}